/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';
@include mat-core();

body {
  --primary-color: #fbc02d;
  --primary-lighter-color: #feecc0;
  --primary-darker-color: #f9aa1c;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}

$mat-primary: (
  main: #fbc02d,
  lighter: #feecc0,
  darker: #f9aa1c,
  200: #fbc02d, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #455a64;
  --accent-lighter-color: #c7ced1;
  --accent-darker-color: #2e3f48;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #455a64,
  lighter: #c7ced1,
  darker: #2e3f48,
  200: #455a64, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ce0202;
  --warn-lighter-color: #f0b3b3;
  --warn-darker-color: #bc0101;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ce0202,
  lighter: #f0b3b3,
  darker: #bc0101,
  200: #ce0202, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.red-snackbar{
  background: #ee2907;
  color:white;
}

.green-snackbar{
  background-color: forestgreen;
  color:white;
}